In [1]:
import pandas

In [4]:
!pip install pyspark

Processing ./Library/Caches/pip/wheels/1e/5e/6a/17e906c94ec7246f260330a66e44a06a0809033ba2738a74a8/pyspark-2.4.6-py2.py3-none-any.whl
Collecting py4j==0.10.7
  Using cached py4j-0.10.7-py2.py3-none-any.whl (197 kB)
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.6

In [5]:
import pyspark

In [6]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession

In [8]:
sc = SparkContext.getOrCreate()
sc

In [9]:
spark = SparkSession(sc)

In [10]:
from pyspark.sql.types import Row
from datetime import datetime

In [11]:
simple_data = sc.parallelize([[1, "Daisy", 12],[3,"Miaomiao", 9]])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [12]:
simple_data.count()

2

In [13]:
simple_data.first()

[1, 'Daisy', 12]

In [14]:
simple_data.take(2)

[[1, 'Daisy', 12], [3, 'Miaomiao', 9]]

In [15]:
simple_data.collect()

[[1, 'Daisy', 12], [3, 'Miaomiao', 9]]

In [16]:
simple_data1 = sc.parallelize([Row(1, "Daisy", 12),
                               Row(3,"Miaomiao", 9)])
simple_data1

ParallelCollectionRDD[6] at parallelize at PythonRDD.scala:195

In [18]:
df1 = simple_data1.toDF()
df1.show()

+---+--------+---+
| _1|      _2| _3|
+---+--------+---+
|  1|   Daisy| 12|
|  3|Miaomiao|  9|
+---+--------+---+

In [19]:
sd2 = sc.parallelize([Row(index=1, PetName="Daisy", age=12)])

In [21]:
df2 = sd2.toDF()
df2.show()

+-------+---+-----+
|PetName|age|index|
+-------+---+-----+
|  Daisy| 12|    1|
+-------+---+-----+

In [28]:
colname =Row('ID','PetName','PetAge')
df2.show()

+-------+---+-----+
|PetName|age|index|
+-------+---+-----+
|  Daisy| 12|    1|
+-------+---+-----+

In [22]:
splc = SQLContext(sc)

In [23]:
splc

In [24]:
splc.range(6).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

In [25]:
sd3 = [('Daisy', 11), ('Miaomiao', 3), ('Jax', 8)]
splc.createDataFrame(sd3,['petName','petAge']).show()

+--------+------+
| petName|petAge|
+--------+------+
|   Daisy|    11|
|Miaomiao|     3|
|     Jax|     8|
+--------+------+

In [26]:

colname =Row('ID','PetName','PetAge')
pp = df1.rdd.map(lambda r: colname(*r))
pp
pp.collect()
ppdf = splc.createDataFrame(pp)
ppdf.show()

+---+--------+------+
| ID| PetName|PetAge|
+---+--------+------+
|  1|   Daisy|    12|
|  3|Miaomiao|     9|
+---+--------+------+

In [27]:
ppdf.collect()[0][1]

'Daisy'

In [28]:
ppdf.rdd.map(lambda x: ("Frank's pet:" + x.PetName, x.PetAge)).collect()

[("Frank's pet:Daisy", 12), ("Frank's pet:Miaomiao", 9)]

In [29]:
ppdf.select('PetName','PetAge').withColumn("Senior", ppdf.PetAge > 10).show()

+--------+------+------+
| PetName|PetAge|Senior|
+--------+------+------+
|   Daisy|    12|  true|
|Miaomiao|     9| false|
+--------+------+------+

In [30]:
import pyspark.sql.functions as sf
ppdf.select('PetName','PetAge').withColumn("Gender", sf.lit("F")).show()

+--------+------+------+
| PetName|PetAge|Gender|
+--------+------+------+
|   Daisy|    12|     F|
|Miaomiao|     9|     F|
+--------+------+------+

In [78]:
ppdf.withColumnRenamed("PetAge","Age").show()
ppdf.select(ppdf.PetAge.alias("age")).show()

+---+--------+---+
| ID| PetName|Age|
+---+--------+---+
|  1|   Daisy| 12|
|  3|Miaomiao|  9|
+---+--------+---+

+---+
|age|
+---+
| 12|
|  9|
+---+

In [31]:
import pandas
pdf = ppdf.toPandas()
pdf

   ID   PetName  PetAge
0   1     Daisy      12
1   3  Miaomiao       9

In [32]:
sparkdf = splc.createDataFrame(pdf)
sparkdf.show()

+---+--------+------+
| ID| PetName|PetAge|
+---+--------+------+
|  1|   Daisy|    12|
|  3|Miaomiao|     9|
+---+--------+------+

In [33]:
func = lambda a, b : (a ** b)
func(float(10),20)

1e+20

In [35]:
import time
time.time()

1591916863.9535308

In [36]:
func

In [1]:
class solution:
    def MaxLenNRepStr(self, s):
        map1, maxmap = {}, {}
        i = 0
        for c in s:
            if (c in map1): #found dup
                if len(map1) > len(maxmap):
                    maxmap = map1.copy()
                map1.clear()
            map1[c] = i  #add new char in map
            i += 1
        return (''.join(maxmap.keys()))

strs = "abcabcbb"
a = solution()
a.MaxLenNRepStr(strs)

'abc'